
// this is temporary css for searchbar in the topNavBar
.input-group {
  width: 60vw;
  margin: auto;
}

img {
  height: 50%;
  width: 50%;
}

// this is temporary css for edit product form
#edit-product-form {
    border: 3px solid gray
}


body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.jumbotron {
  background-image:
  url("https://cdn.theconversation.com/files/90353/wide_article/width1356x668/dydjpgbz-1438275949.jpg");
  background-size: cover;
  height: 500px
}

.jumbotron h1 {
  color: white;
  position: absolute;
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  font-family: 'Open Sans';
  margin-top: 15%
}

.centerText {
  text-align: center
}

.featuredImage {
  padding-left: 10%;
  width: 45%;
  height: 45%
}

.display {
  display: inline
}

.stylizedText {
  padding-top: 10%;
  padding-left: 5%;
  font-family: 'Alegreya', serif;
  font-size: 200%;
}

.thumbnail {
  background-color: #6B0F0F;
  border: 1px solid #585050;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 100px
}

.mainPageImg {
   width: 90px;
   height: 90px;
   float: right;
   margin: 25px 25px 0 0 
}

.containerBox {
  height: 25vh;
  margin-bottom: 10px;
  border-width: 5px;  
  border-style: groove;
  color: gainsboro;
  margin: 5px 0 5px 0;
}

.headerText {
  font-family: Dosis;
  font-weight: 800
}

.descText {
  font-family: Lato
}

.list-group-item-heading {
  padding-top: 15px
}

.formDisplay {
  margin-top: 15px
}
