
// this is temporary css for searchbar in the topNavBar
.input-group {
  width: 60vw;
  margin: auto;
}

img {
  height: 50%;
  width: 50%;
}

// this is temporary css for edit product form
#edit-product-form {
    border: 3px solid gray
}


body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
